/* .App {
  text-align: center;
} */
.todo{
  border: 2px solid white;
  border-radius: 20px;
}
.span1{
  text-transform: uppercase;
  text-align: left;
}
.editBtn{
  text-align: right;
  background-color: red;
  color: aliceblue;
  box-shadow: 2px 2px 3px blue;
  border: 2px solid red;
  border-radius: 5px;
}
.deleteBtn{
  text-align: right;
  background-color: blue;
  color: aliceblue;
  border: 2px solid blue;
  box-shadow: 2px 2px 3px red;
  border-radius: 5px;
}

.maincontainer{
  border: 2px solid black;
}

.paraorbutton{
  border: 2px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  margin: 0px auto;
}
.input{
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 3px gray;
}
.addBtn{
  background-color: black;
  color: aliceblue;
  border-radius: 5px;
  border: 2px solid white;
  box-shadow: 2px 2px 3px gray;
}

.div input{
  border-top: none;
  border-left: none;
  border-right: none;
}

.div button{
  background-color: yellowgreen;
  color: aliceblue;
  border: 2px solid white;
  border-radius: 5px;
  
}